[user]
	name = Artur Ptaszek
	email = artur.ptaszek@gmail.com
[core]
	excludesfile = /Users/riddler/.gitignore_global
	autocrlf = input
	editor = vim
[push]
	default = simple
[merge]
	tool = p4mergetool
[mergetool]
	keepBackup = false
[diff]
	tool = p4mergetool
	compactionHeuristic = true
[credential]
	helper = osxkeychain
[diff "pandoc"]
	textconv=pandoc --to=markdown
	propmpt = false
[mergetool "p4mergetool"]
	cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge $PWD/$BASE $PWD/$REMOTE $PWD/$LOCAL $PWD/$MERGED
	trustExitCode = false
[difftool "p4mergetool"]
	cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge $LOCAL $REMOTE
[mergetool "webstorm"]
	cmd = /usr/local/bin/webstorm merge $PWD/$LOCAL $PWD/$REMOTE $PWD/$BASE $PWD/$MERGED
	trustExitCode = false
[difftool "webstorm"]
	cmd = /usr/local/bin/webstorm diff $LOCAL $REMOTE
