[user]
  name = Artur Ptaszek
  email = {{ .email | quote }}
{{- if eq .hosttype "private" }}
  signingkey = 0x99528328380ED3EE
{{- end }}
[init]
  defaultBranch = main
[core]
  excludesfile = ~/.gitignore_global
  autocrlf = input
  editor = nvim
[push]
  default = simple
[pull]
  rebase = true
{{- if eq .hosttype "private" }}
[commit]
  gpgsign = true
{{- end }}
[merge]
  tool = nvimdiff
[mergetool]
  keepBackup = false
[diff]
  tool = nvimdiff
  compactionHeuristic = true
[credential]
  helper = osxkeychain
[diff "pandoc"]
  textconv=pandoc --to=markdown
  propmpt = false
[mergetool "webstorm"]
  cmd = /usr/local/bin/webstorm merge "$LOCAL" "$REMOTE" "$BASE" "$MERGED"
  trustExitCode = false
[difftool "webstorm"]
  cmd = /usr/local/bin/webstorm diff "$LOCAL" "$REMOTE"
[mergetool "nvimdiff"]
  cmd = "nvim  -d $MERGED $LOCAL $BASE $REMOTE -c 'wincmd J | wincmd ='"
[difftool "nvimdiff"]
  cmd = nvim -d \"$LOCAL\" \"$REMOTE\" -c \"wincmd w\" -c \"wincmd L\"
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[rerere]
  enabled = true
[rebase]
  autosquash = true
