{{ if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env sh

plist_name="org.p0deje.Maccy"

# Show popup in the center
defaults write "$plist_name" popupPosition -string "center"
# Show popup on active screen
defaults write "$plist_name" popupScreen -int 0
# Search mode mixed (regex, fuzzy)
defaults write "$plist_name" searchMode -string "mixed"

# Add run on startup
if ! loginitems -l | grep -q 'Maccy'; then
  loginitems -a Maccy
fi
{{ end -}}
