{{ if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env zsh

app_name="Dash"
plist_name="com.kapeli.dashdoc"

killall "$app_name"

defaults write "$plist_name" syncFolderPath -string "~/.local/share/chezmoi/.dash/"
defaults write "$plist_name" tabRestoFirstRun -int 1
defaults write "$plist_name" windowStyle -string "Standard"
defaults write "$plist_name" windowStyleHUDOverlay -int 1
defaults write "$plist_name" showInDock -int 0
defaults write "$plist_name" shouldShowStatusIcon -int 0
defaults write "$plist_name" shouldSyncBookmarks -int 1
defaults write "$plist_name" shouldSyncDocsets -int 1
defaults write "$plist_name" shouldSyncGeneral -int 1
defaults write "$plist_name" shouldSyncView -int 1

# Add Hotkey triggers
plutil -replace profiles -json '[{ "isActive": true, "isDefault": true, "name": "Default", "searchSnippets": true, "triggers": [{ "description": "pressed", "image": "keyboardIcon", "isHotKeyTrigger": true, "keyCombo": { "keyCode": 50, "modifiers": 768 } } ] }]' ~"/Library/Preferences/$plist_name.plist"

# Add run on startup
if ! loginitems -l | grep -q "$app_name"; then
  loginitems -a "$app_name"
fi

open -a "$app_name"
{{ end -}}
