{{ if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env zsh

set -e

# Disable unnatural scrolling
defaults write -g com.apple.swipescrolldirection -boolean NO

# Turns off useless dashboard
defaults write com.apple.dashboard mcx-disabled -boolean YES && killall Dock

# Turns off Character Accent Menu
defaults write -g ApplePressAndHoldEnabled -bool false

# Turns off desktop icons
defaults write com.apple.finder CreateDesktop false
killall Finder

echo "Need restart to take effect"
defaults write -g InitialKeyRepeat -int 13
defaults write -g KeyRepeat -int 1
{{ end -}}
