<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHClojureRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHDartRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHDocsetGeneratorRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHGitHubRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHaskellRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHexRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHPythonRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHRustRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHSwiftRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>actuallyDarkWebView</key>
	<true/>
	<key>annotationsAreShown</key>
	<false/>
	<key>docsets</key>
	<dict>
		<key>keywords</key>
		<dict>
			<key>~/Library/Application Support/Dash/Cheat Sheets/Vim/Vim.docset</key>
			<string>vim:</string>
			<key>~/Library/Application Support/Dash/DocSets/JavaScript/JavaScript.docset</key>
			<string>js:</string>
			<key>~/Library/Application Support/Dash/DocSets/Lo-Dash/Lo-Dash.docset</key>
			<string>_:</string>
			<key>~/Library/Application Support/Dash/DocSets/NodeJS/NodeJS.docset</key>
			<string>node:</string>
			<key>~/Library/Application Support/Dash/DocSets/Rust/Rust.docset</key>
			<string>rs:</string>
			<key>~/Library/Application Support/Dash/DocSets/TypeScript/TypeScript.docset</key>
			<string>ts:</string>
			<key>~/Library/Application Support/Dash/GitHub/reacthookformreacthookform/react-hook-form-react-hook-form.docset</key>
			<string>rhf:</string>
			<key>~/Library/Application Support/Dash/GitHub/testinglibraryreacttestinglibrary/testing-library-react-testing-library.docset</key>
			<string>rtl:</string>
			<key>~/Library/Application Support/Dash/User Contributed/Kubernetes/Kubernetes.docset</key>
			<string>k8s:</string>
			<key>~/Library/Application Support/Dash/User Contributed/Terraform/Terraform.docset</key>
			<string>tf:</string>
		</dict>
	</dict>
	<key>feeds</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>isPinned</key>
	<true/>
	<key>placeholderDelimiter</key>
	<string>__</string>
	<key>profiles</key>
	<array>
		<dict>
			<key>isDefault</key>
			<true/>
			<key>name</key>
			<string>Default</string>
			<key>searchSnippets</key>
			<true/>
			<key>triggers</key>
			<array>
				<dict>
					<key>description</key>
					<string>pressed</string>
					<key>image</key>
					<string>keyboardIcon</string>
					<key>isHotKeyTrigger</key>
					<true/>
					<key>keyCombo</key>
					<dict>
						<key>keyCode</key>
						<integer>50</integer>
						<key>modifiers</key>
						<integer>768</integer>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
	<key>searchKey</key>
	<dict>
		<key>keyCode</key>
		<integer>-1</integer>
		<key>modifiers</key>
		<integer>8395520</integer>
	</dict>
	<key>shouldRestoreTabs</key>
	<true/>
	<key>shouldShowStatusIcon</key>
	<integer>0</integer>
	<key>shouldStartAtLogin</key>
	<true/>
	<key>shouldSyncBookmarks</key>
	<integer>1</integer>
	<key>shouldSyncDocsets</key>
	<integer>1</integer>
	<key>shouldSyncGeneral</key>
	<integer>1</integer>
	<key>shouldSyncView</key>
	<integer>1</integer>
	<key>showInDock</key>
	<integer>0</integer>
	<key>versionedDHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHClojureRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHDartRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHDocsetGeneratorRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHGitHubRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHHaskellRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHHexRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHPythonRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHRustRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHSwiftRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedFeeds</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>webSearches</key>
	<array>
		<dict>
			<key>iconName</key>
			<string>Google</string>
			<key>isDefault</key>
			<true/>
			<key>isEnabled</key>
			<true/>
			<key>name</key>
			<string>Google</string>
			<key>url</key>
			<string>https://www.google.com/search?q={query}</string>
		</dict>
		<dict>
			<key>iconName</key>
			<string>DuckDuckGo</string>
			<key>isDefault</key>
			<true/>
			<key>isEnabled</key>
			<false/>
			<key>name</key>
			<string>DuckDuckGo</string>
			<key>url</key>
			<string>https://duckduckgo.com/?q={query}&amp;ia=web</string>
		</dict>
		<dict>
			<key>iconName</key>
			<string>Stack Overflow</string>
			<key>isDefault</key>
			<true/>
			<key>isEnabled</key>
			<true/>
			<key>name</key>
			<string>Stack Overflow</string>
			<key>url</key>
			<string>https://stackoverflow.com/search?q={query}</string>
		</dict>
	</array>
</dict>
</plist>
