#!/usr/bin/env sh

{{- if eq .hosttype "private" }}
export HOMEBREW_GITHUB_API_TOKEN={{ onepasswordRead "op://Personal/Github/API token" | quote }}

export HA_INFLUX_DB_USER={{ onepasswordRead "op://Personal/hassio - influxdb/username" | quote }}
export HA_INFLUX_DB_PASSWORD={{ onepasswordRead "op://Personal/hassio - influxdb/password" | quote }}
{{- end }}
